{
    "globals": {
        "Phaser": true,
        "window": true,
        "document": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "valid-jsdoc": [1]
    },
    "parser": "babel-eslint",
    "extends": "eslint:recommended"
}